@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.custom-bar .simplebar-track.simplebar-vertical {
    width: 12px;
    margin: 12px 8px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.custom-bar .simplebar-scrollbar::before {
    background: #5a6168;
    border-radius: 10px;
    opacity: 1 !important;
    left: 2px;
    right: 2px;
}

.custom-bar .simplebar-scrollbar.simplebar-hover::before {
    background: #6b7280;
}

.custom-bar .simplebar-content {
    padding-right: 30px;
}
